[user]
	email = mail@bdudek.xyz
	name = thinkofher
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILre8y48U+yPtocnGTCqoDO2dl4XvH+9uLWq+Vu+JO/M
[alias]
	default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | cut -f4 -d/"
	diff = diff $(git default-branch)
	pom = push origin $(git default-branch)
	merged-branches = "!git branch --merged $(git default-branch)"
	sync = "!git fetch -p && git rebase origin/$(git default-branch)"
	co = "checkout"
	cp = "cherry-pick"
	st = "status"
	wip = "commit -a -m WIP -n"
	fx = "commit --amend -C HEAD"
[commit]
	template = "~/.gitmessage"
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = "~/.ssh/allowed_signers"
