[user]
	signingkey = 24E5AFD6C7988768
	email = mail@bdudek.xyz
	name = thinkofher
[alias]
	default-branch = "!git symbolic-ref refs/remotes/origin/HEAD | cut -f4 -d/"
	diff = diff $(git default-branch)
	pom = push origin $(git default-branch)
	merged-branches = "!git branch --merged $(git default-branch)"
	sync = "!git fetch -p && git rebase origin/$(git default-branch)"
[commit]
	template = "~/.gitmessage"
	gpgsign = false
[pull]
	rebase = false
[init]
	defaultBranch = main
